body,
#header,
#outer.wrapper,
#inner.wrapper,
.secondary,
#modal,
.filters .expander {
  font-size: 1.3em; }

#header .user .open a:focus {
  color: #4675C0; }

h4 {
  font-size: 1.2em; }

#header .primary {
  padding-bottom: 10px; }

#footer .module {
  max-width: 40%;
  margin: auto; }

.userstuff {
  font-size: 110%; }

#footer .heading,
.comment h4.byline, .home .header .userstuff, .home .header dl.stats, .home .header .type, .blurb dl.tags dd, dl.meta dd {
  overflow-wrap: break-word; }

#header .heading {
  margin-left: auto !important;
  margin-right: auto;
  display: block;
  float: none;
  font-size: 0.8em;
  padding: 0;
  text-align: center; }

#login, #greeting {
  margin-right: auto;
  margin-left: auto;
  float: none;
  margin-top: 0px !important; }

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
#header .menu,
#small_login,
#header .dropdown:hover .current + .menu {
  width: 100% !important;
  left: 0 !important;
  right: 0 !important;
  position: fixed; }

p.kudos {
  background: url(/images/imageset.png) no-repeat -110px -580px;
  padding: 4em 0 0 0;
  min-height: 50px;
  word-break: break-word; }

#header .primary .menu a {
  padding: .429em .75em; }

.home .header .userstuff,
.home .header dl.stats,
.home .header .type, .blurb dl.tags dd, dl.meta dd {
  margin-left: auto; }

#header .menu,
#small_login,
#header .dropdown:hover .current + .menu,
#header .menu,
#small_login,
#header .dropdown:hover .current + .menu {
  width: auto; }

h2, h2.heading {
  font-size: 1.8em;
  font-weight: 600; }

#dashboard,
#dashboard.own {
  border-bottom: 0px;
  border-top: 0px;
  border: 0px; }

h4.heading {
  margin: .375em .375em 0 65px !important;
  overflow-wrap: break-word; }

h5.fandoms.heading, .news h4.heading, #footer h4.heading, .comment h4.heading {
  margin: 0px !important; }

.blurb .datetime {
  position: relative; }

.filters dt {
  background-color: transparent; }

#dashboard ul {
  display: inline-block; }

#ui-datepicker-div {
  top: 522px !important; }

.javascript {
  background-color: transparent; }

.assigned.module th[scope="col"],
thead th[scope="col"] {
  max-width: 18px;
  overflow: hidden; }

div#comments_placeholder, .blurb .userstuff, .news .userstuff, .system .userstuff {
  width: 100% !important;
  margin: auto;
  text-align: left; }

#workskin {
  width: 100% !important; }

#header li {
  display: inline-block;
  float: initial; }

#header .user, .comment .posted {
  float: initial; }

.comment .posted {
  display: block; }

div.preface, .preface.group blockquote.userstuff {
  margin: 0; }

.user .primary p.icon, .admin .primary .icon {
  position: initial;
  top: auto;
  margin: 10px auto; }

.user .primary img.icon, .admin .primary .icon {
  top: auto; }

.user h2.heading, .admin h2.heading {
  margin: 10px auto;
  text-align: center; }

.comment .userstuff p {
  padding: 0 5px; }
